@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins';
}

main{
    margin-top:2%;
    margin-left: 0px;
    padding: 10px;
    transition: margin-leff 0.s;
}


.row{
    background: #ffcd05;
    display: flex;
    justify-content: space-between;
}

.table-title{
    background: #0a59c95e;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
}

.table-title h2{
     color:#0f0f0f;
     font-weight: 600;
}

.table-title a{
    width: 85px;
    padding: 5px;
    border-radius: 15px;
    background: #021f47;
    color: #ede0e0;
    font-weight: 500;
    font-size: 18px;

}

.table-title a:hover{
    background: #0a59c95e;
    color: #0f0f0f;
}

.tabela{
  padding: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: #0a59c95e;
 
}

thead{
  background: #031939;
  color: #ede0e0;
  font-size: 22px;
  
}

.linhas{
  font-size: 20px;
  font-weight: 500;
  color:#0f0f0f;
}

.linhas th{
  padding: 1px;
}

.btn-editar{
  width: 50px;
  height: 50px;
  border-radius:50%;
  margin:5px;
  font-size: 25px;
  background:transparent;
  color:#031939;
  border: none;
}

.btn-excluir{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  background: transparent;
  color:#ff0000;
  border: none;
}

.modal-dialog{
  width: 100%;
  margin:0 auto;
  position: absolute;
  top: 30%;
  left: 30%;
  
}

.modal-dialog .modal-content{
  width: 100%;
  height: 150%;
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  
}

.modal-header{
  width: 100%;
  height: 55px;
  background-color: #0a59c95e;
}
.modal-header h5{
font-size: 25px;
 color: #0f0f0f;
 margin:10%;
 font-weight: 600;
 font-family: 'Poppins';
}

.modal-footer{
  height: 35%;
  
}

.modal-footer button{
  margin: 10px;
}

.modal-footer .fechar{
  font-size: 20px;
  width: 18%;
  height: 35px;
  font-weight: 500;
}

.modal-footer .salvar{
  font-size: 20px;
  width: 18%;
  height: 35px;
  font-weight: 500;
  background: #031939;
}

.modal-body{
  padding: 10px;
  margin:10px;
  height: 305%;
}

.modal-body input{
  margin:5px;
}

.modal-body .DescCat{
  width: 85%;
  outline: none;
  border-color: #1a05ff;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
}