<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
    <div class="table-title">
        <h2>Fornecedor</h2>
        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="escondeBotao()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>Razão social</th>
                <th>Cnpj</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Nome Fantasia</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas" *ngIf="fornecedores && fornecedores.length">
          <tr *ngFor="let fornecedor of fornecedores">
         <!--<th>{{fornecedor.id}}</th>-->
             <th>{{fornecedor.name}}</th>
             <th>{{fornecedor.cnpj}}</th>
             <th>{{fornecedor.phone}}</th>
             <th>{{fornecedor.email}}</th>
             <th>{{fornecedor.nameCompany}}</th>
            <th>
              <button type="submit" class="btn-editar" (click)="editarFornecedor(fornecedor,exampleModal)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="submit" class="btn-excluir" (click)="excluir(fornecedor,staticBackdrop)"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </th>
          </tr>

        </tbody>
        
    </table>

<!-- Modal Inserir/Alterar-->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo fornecedor</h5>
      </div>
      <div class="modal-body">
         <form method="post" #providerForm="ngForm">
              <input type="text" name="txtRazaosocial" id="Nome" class="DescCat" placeholder="Razão social:" [(ngModel)]="nome" required ngModel>
              <input type="number" name="cnpj" id="Cnpj" class="DescCat" placeholder="Cnpj:" [(ngModel)]="cnpj" required ngModel>
              <input type="tel" name="telefone" id="Fone" class="DescCat" placeholder="Telefone:" [(ngModel)]="fone" required ngModel>
              <input type="email" name="email" id="Email" class="DescCat" placeholder="Email:" [(ngModel)]="email" required ngModel>
              <input type="text" name="txtnomefantasia" id="NomeEmpresa" class="DescCat" placeholder="Nome Fantasia:" [(ngModel)]="nomeEmpresa" required ngModel>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closer" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="salvar btn btn-primary"  *ngIf="botaoAdd" (click)="postFornecedores()">Salvar</button>
        <button type="button" class="salvar btn btn-primary" *ngIf="botaoUpdate"  (click)="editarFornecedorUpdate(editar)" >Alterar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir -->

<div class="modal fade" id="staticBackdrop" #confirm data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Excluir...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Deseja realmente Excluir?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="fechar btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="salvar btn btn-primary"(click)="excluirFornecedor(confirm)">Excluir</button>
        </div>
      </div>
    </div>
  </div>



</main>

