<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
    <div class="table-title">
        <h2>Pedido Cliente</h2>
        <a class="btn-detalepedido" href="detalhepedido">
          Clique para ver detales do pedido
         </a>
         
        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="escondeBotao()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>Valor </th>
                <th>Data e hora</th>
                <th>Forma de pagamento</th>
                <th>Cliente</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas" *ngIf="pedidos && pedidos.length">
          <tr *ngFor="let pedido of pedidos">
            <!--<th> {{pedido.id}}</th>-->
                <th>{{pedido.valueTotal}}</th>
                <th>{{pedido.date}}</th>
                <th>{{pedido.idPayment}}</th>
                <th>{{pedido.idClient}}</th>
            <th>
              <button type="submit" class="btn-editar" (click)="editarPedido(pedido,exampleModal)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="submit" class="btn-excluir" (click)="excluir(pedido,staticBackdrop)"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </th>
          </tr>
            
        </tbody>
        
    </table>
   
    

<!-- Modal Inserir/Alterar-->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Pedido</h5>
      </div>
      <div class="modal-body">
            <form method="post" #orderForm="ngForm">
                <input type="number" name="numbValor" id="valorTotal" class="DescCat" placeholder="Valor:" [(ngModel)]="valorTotal" required ngModel>
                <input type="datetime-local" name="Data" id="data" class="DescCat" [(ngModel)]="data" required ngModel>
                <input type="text" name="txtFormaPagamento" id="formaPagament" class="DescCat" placeholder="Forma de pagamento:" [(ngModel)]="pagament" required ngModel>
                <input type="text" name="txtClient" id="cliente" class="DescCat" placeholder="Cliente:" [(ngModel)]="cliente" required ngModel>
            </form>
      </div>
      <div class="modal-footer">
            <button type="button" id="closer" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="salvar btn btn-primary" *ngIf="botaoAdd" (click)="postPedidos()">Salvar</button>
            <button type="button" class="salvar btn btn-primary" *ngIf="botaoUpdate"  (click)="editarPedidoUpdate(editar)" >Alterar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir -->

<div class="modal fade" id="staticBackdrop" #confirm data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Excluir...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Deseja realmente Excluir?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="fechar btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="salvar btn btn-primary" (click)="excluirPedido(confirm)">Excluir</button>
        </div>
      </div>
    </div>
  </div>

</main>

