<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
    <div class="table-title">
        <h2>Cliente </h2>
        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="escondeBotao()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas" *ngIf="clientes && clientes.length">
          <tr *ngFor="let cliente of clientes">
           <!-- <th>{{cliente.id}}</th> -->
            <th>{{cliente.name}}</th> 
            <th>{{cliente.cpf}}</th>
            <th>{{cliente.birth}}</th>
            <th>{{cliente.phone}}</th>
            <th>{{cliente.email}}</th>
            <th>{{cliente.password}}</th>
            <th>
              <button type="submit" class="btn-editar" (click)="editarCliente(cliente,exampleModal)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="submit" class="btn-excluir" (click)="excluir(cliente,staticBackdrop)"  data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </th>
          </tr>

        </tbody>
        
    </table>

<!-- Modal Inserir/Alterar-->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Cliente</h5>
      </div>
     
        <div class="modal-body">
          <form method="post" #clientForm="ngForm">
            <input type="text" name="txtNome" id="Nome" class="DescCat" placeholder="Nome:" [(ngModel)]="nome"  required ngModel>
            <input type="text" name="CPF" id="cpf" class="DescCat" placeholder="CPF:" mask="000.000.000-00" [(ngModel)]="cpf" required ngModel>
            <input type="date" name="datanascimento" id="Birth" class="DescCat" placeholder="Data de nascimento:" [(ngModel)]="aniv"  required ngModel> 
            <input type="tel" name="telefone" id="Fone" class="DescCat " placeholder="Telefone:" [(ngModel)]="fone"  required ngModel>
            <input type="email" name="email" id="Email" class="DescCat" placeholder="Email:" [(ngModel)]="email"  required ngModel>
            <input type="password" name="senha" id="Senha" class="DescCat" placeholder="Senha:" [(ngModel)]="senha"  required ngModel>
          </form>
          
        </div>
    
      <div class="modal-footer">
        <button type="button" id="closer" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="salvar btn btn-primary" *ngIf="botaoAdd"  (click)="postClientes()">Salvar</button>
        <button type="button" class="salvar btn btn-primary" *ngIf="botaoUpdate"  (click)="editarClienteUpdate(editar)" >Alterar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Excluir -->

<div class="modal fade" id="staticBackdrop" #confirm data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Excluir...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Deseja realmente Excluir?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="fechar btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="salvar btn btn-primary"(click)="excluirCliente(confirm)">Excluir</button>
      </div>
    </div>
  </div>
</div>
</main>
